@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="MovieRegistration">Register a Movie!</a>
    
</div>
